@media screen and (min-width:600px) {
    html {
        font-size: 14px;
    }
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .nav-banner {
        width: fit-content;
        align-items: center;
    }
    .logo {
        padding: 20px 20vw 10px;
    }
    .logo img {
        width: 200px;
    }

    .entry-body {
        display: flex;
        padding: 40px 0px 150px 0px;
    }

    .text-image {
        width: 50%;
        padding: 0px;
    }

    .entry-image {
        width: 50%;
        padding: 0px;
    }
    
    .about-head,.timing-head,.live-head {
        text-align: left;
    }

    .about-body {
        padding: 0px 0px 150px 0px;
    }

    .about-content {
        display: flex;
        margin-top: 40px;
        align-items: center;
    }

    .about-image {
        width: 40%;
        padding: 0px;
    }

    /* .about-image .image-container {
        padding-right:20px;
    } */

    .about-text {
        width: 60%;
        padding: 0px;
        text-align: left;
        padding: 0px 50px;
    }

    .calender-images {
        display: flex;
    }

    .calender-head {

        padding: 50px 0px 0px 0px;
    }

    .calender-img {
        /* width: 33%; */
        border-radius: 18px;
        height: auto;
    }
    .live-body {
        display: flex;
        align-items: center;
        padding: 200px 0px;
    }
    .live-head {
        width: 50%;
    }
    .live-images {
        width: 50%;
    }
    .live-images img {
        width: auto;
    }
    .body-section {
        padding: 50px 0px;
        max-width: 700px;
        margin: auto;
    }

    .time-container>div div {
        padding: 30px 0px 20px 50px;
    }
    .calender-images>div {
        padding:10px;
        width: 33%;
    }

    .entry-image .image-container {
        padding: 50px;
    }

    .image-text {
        text-align: left;
    }
    
    .contact-button {
        margin: 0px;
    }

    .calender-follow {
        padding: 200px 0px 0px 0px;
    }

    .calender-images {
        padding: 50px 0px 0px 0px;
    }

    .youtube {
        padding: 250px 0px 15px 0px;
    }
    
    .service-head {
        text-align: left;
        padding: 0px 50px;
        height: fit-content;
    }
    
    .questions {
        text-align: left;
        padding: 120px 0px 100px 0px;
    }

    .question-heading {
        font-weight: 400;
        font-size: 1.8rem;
    }

    .quest-1 {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        margin: 30px 0px;
    }

    .foot-foot {
        display: flex;
        padding: 80px;
        text-align: left;
        line-height: 30px;
    }

    .foot-logo img {
        width: 300px;
    }

    .foot-foot .foot2 {
        width: 33%;
        padding: 20px;
    }

    .keertan-time {
        font-size: 1.2rem;
    }

    .foot2.first {
        text-align: left;
    }
    .foot2.second {
        text-align: center;
    }
    .foot2.third{
        text-align: right;
    }
    .social svg {
        padding: 0px 0px 0px 30px;
    }
}

@media screen and (min-width:1000px) {

    html {
        font-size: 16px;
    }
    .body-section {
        
        /* margin: 0px 100px; */
        /* max-width: 900px; */
        max-width: max-content;
    }
    
    .big-screen {
        display: block;
    }

    .body-container {
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-image: url(assets/MOLDING.png) 100 round;
        margin: 0px 50px;
        padding: 0px 80px;
    }
    .regular-font {
        font-size: 16px;
    }

    .entry-body{
        display: flex;
    }
    .about-content{
        display: flex;
    }

    .calender-images{
        display: flex;
    }

    .live-body{
        /* padding: 50px; */
        display: flex;
    }

    .service-body{
        padding: 50px;
        display: flex;
        align-items: center;
    }

    .foot-head {
        display: flex;
        padding-top: 20px;
        align-items: center;
        margin: auto;
        width: fit-content;
    }

    .foot-head .foot3 {
        width: auto;
        padding: 0px 30px;
    }

    .foot-head .foot1 {
        width: auto;
        padding: 0px 30px;
    }

    .calender-head {
        text-align: left;
        font-size: 1.5rem;
        padding: 50px 0px 0px 0px;
    }

    .down_arrow {
        width: 18px;
        float: right;
        margin-top: 10px;
    }
    .logo img {
        width: 350px;
    }

    .youtube {
        padding: 330px 0px 12px 0px;
    }

    .calender-img {
        /* width: 33%; */
        border-radius: 72px;
        height: auto;
    }

    .calender-images>div {
        padding: 25px;
        width: 33%;
    }

    .swiper-container {
        display: flex;
        align-items: center;
    }

    .swiper-button-prev-unique, .swiper-button-next-unique {
        cursor: pointer;
        width: 30%;
    }

    .swiper-button-next-unique svg {
        float: right;
    }

    .swiper-slide img {
        width: 100%;
        display: block;
        height: 30vw;
        border-radius: 20px;
    }

}

@media screen and (min-width:1300px) {
    .about-text {
        padding: 0px 50px;
    }
}