html {
    font-size: 12px;
}
body {
    margin: 0px;
    background-image: linear-gradient(#FFFF,#e4e9f5,#FFFF,#e4e9f5);
    width:100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;   
}
.nav-banner{
    width: 100%;
}
.nav{
    background-color: rgba(41, 68, 132, 1);
    width: 100%;
}
.nav-foot{
    background-color: #BFC9DE;
    width: 100%;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    width: fit-content;
    margin: auto;
    padding: 0;
}
.nav-items li {
     
    padding: 10px 20px;
    color: #FFFFFF;
}
.nav-banner{
    display: flex;
    margin: auto;
}
img {
    width: -webkit-fill-available;
}
.logo{
    /* width: 60%; */
    padding: 20px 40px 10px;
}
.hamburger {
    position: fixed;
    right: 44px;
    top: 21px;
    font-size: 20px;
    color: #2E447E;
}
.desktop {
    display: none;
}
.img2, .img1{
    margin-top: 6px;
    /* width: 20%; */
    display: none;
}
.img2 img, .img1 img {
    width:100px;
}
.img1 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.nav-foot{
    display: flex;
    padding: 10px 0px;
}
.live{
    width: 50px;
    color: #2E447E;
    padding-left: 15px;
     
    font-family: 'poppins';
    font-weight: bold;
}
.texts{
    width: 764px;
    font-size: 0.92rem;
    padding-left:15px;
    font-family: 'Poppins';
    color: #2E447E;
}
.entry-body{
    display: block;
    /* padding-top: 100px; */
}
.text-image{
    padding: 50px;
}

.image-text {
    height: 48px;
     
    font-family: poppins;
    color: #2E447E;
    padding-bottom: 20px;
    text-align: center;
}
.contact-button{
    padding: 10px 20px;
    width: fit-content;
     
    font-family: poppins;
    text-align: center;
    border-radius: 18px;
    background-color: #2E447E;
    color: #FFFFFF;
    margin-top: 15px;
    margin: auto;
}
.entry-image{
    padding: 20px 40px;
}
.body-section{
    padding: 15px;
}
.about-body{
    padding: 40px;
}
.about-head{
    width: 100%;
    color: #2E447E;
    font-family: poppins;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.about-content{
    display: block;
    margin-top: 20px;
}
.about-image{
    width: 100%;
}
.about-text{
    padding: 20px;
    color: #2E447E;
     
    font-family: poppins;
    text-align: center;
}
/* .timing-body{
    padding: 50px; 
} */
.timing-head{
    width: 100%;
    color: #2E447E;
    font-family: poppins;
     font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.keerthan{
    margin-bottom: 20px;
    margin-top: 25px;
    background-color: #2E447E;
    border-radius: 6px;
}
.day.mobile {
    background-color: #2E447E;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    color: white;
    padding: 2px;
}
.keertan-time{
     font-size: 0.83rem;
    font-family: poppins;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}
.time-container {
     
    color: #2E447E;
}
.sessions{
    background-color: #DAE3FF;
    font-family: poppins;
    display: flex;
    width: 100%;
    border-radius: 0px 0px 6px 6px;
}
.sessions2{
    font-family: poppins;
    background-color: #ECF1FF;
    display: flex;
    width: 100%;
    border-radius: 0px 0px 6px 6px;
}
.day-time{
    width: 30%;
    padding: 10px;
}
.day-program{
    width: 60%;
    padding: 10px;
}
/* .calender-body{
    padding: 50px;
} */
.calender-head {
    width: 100%;
    color: #2E447E;
    font-family: 'poppins';
     font-size: 0.83rem;
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
}
.calender-follow{
    width: fit-content;
    margin: auto;
    padding-top: 70px;
     font-size: 1.5rem;
    color: #2E447E;
    font-family:'inter';
}
.calender-channel{
    width: fit-content;
    margin: auto;
    padding-top: 10px;
    font-weight: bold;
    color: #2E447E;
     font-size: 1.5rem;
    font-family:'inter';
}
.calender-images{
    padding: 10px 40px;
}
.calender-img{
    width: 100%;
    height: 365px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    border-radius:5px;
    margin-bottom: 35px;
    /* margin: 30px; */
}

.youtube {
    padding-top: 300px;
    text-align: center;
    color: white;
     
}

/* .live-head{ */
    /* width: 60%; */
/* } */

.live-body {
    text-align: center;
    padding: 40px;
}
.live-heading{
    width: 100%;
    color: #2E447E;
     font-size: 1.5rem;
    font-weight: 600;;
}
.live-texts{
    padding-top: 20px;
    color: #2E447E;
     
}
.live-images img{
    width: auto;
}
.live-image1{
    padding: 50px;
}
.live-image2{
    display: flex;
}
.service-body{
    padding-top: 30px;
}
.service-paystrip{
    width: 40%;
}
.service-head{
    /* width: 60%; */
    text-align:center;
    padding: 50px;
}
.service-heading{
    width: 100%;
    color: #2E447E;
    font-weight: 600px;
     font-size: 1.5rem;
}
.service-text{
    padding-top: 20px;
    color: #2E447E;
     
}
.service-button{
    padding: 10px 30px;
    width: fit-content;
    font-size: 16px;
    font-family: poppins;
    text-align: center;
    border-radius: 18px;
    background-color: #2E447E;
    color: #FFFFFF;
    margin: auto;
    margin-top: 60px;
}
.service-paystrip{
    width: 100%;
    border-radius: 18px;
}
.live-img0 {
    width:33%;
}
/* .pay-head{
    height: 60px;
    background-color: #2E447E;
    color: #FFFFFF;
}
.pay-time{
    display: flex;
    width: fit-content;
    margin: auto;
    border: #2E447E;
    color: #2E447E;
}
.select{
    color: #DAE3FF;
}
.amount{
    display: flex;
}
.amt1{
    border: #DAE3FF;
    margin: 20px;
}
.custom{
    border: #DAE3FF;
    width: fit-content;
    margin: auto;
} */
.questions{
    /* padding: 50px; */
    text-align: center;
     
}
.question-heading{
    width: 100%;
    color: #2E447E;
    font-family: poppins;
    font-weight: 600;
}
.quest-1{
    margin: 30px;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(253, 253, 253, 1);
    color: #2E447E;
    box-shadow: #BFC9DE;
}
.footer{
    background-color: #2E447E;
    color: white;
     
    padding: 50px;
}
.footer img {
    width: auto;
}
/* .foot-head{
    display: flex;
    padding: 50px 0px 20px 0px;
} */
.foot1{
    width: 25%;
}
.foot3{
    /* width: 50%; */
    /* display: flex; */
    text-align: center;
}
.foot-name{
    /* margin-top: 30px; */
    color: #FFFFFF;
    /* font-size: 28px; */
    font-family: montserrat;
}
.sabha-name{
    color: #FFFFFF;
     font-size: 0.83rem;
    font-family: montserrat;
    text-align: center;
}
.foot-foot{
    /* display: flex; */
    /* padding: 50px; */
    /* margin: 20px; */
    text-align: center;
    line-height: 30px;
}
.foot2{
     
    color: #FFFFFF;
    padding: 20px;
    /* width: 33.33%; */
}
.hr {
    padding: 0px 50px;
}
/* .foot-logo {
    width: 50%;
} */

b {
    font-weight: 600;
}

.big-screen {
    display: none;
}